.app {
  cursor: pointer;
  align-items: center;
  align-self: center;
}
img {
  width: 100%;
}

.landing {
  background: url("./img/firstbg.jpg") no-repeat;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.plants-landing {
  background: url("./img/bg.jpg") no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 0.3rem;
}

.lighter {
  color: white;
}
.plantbox {
  color: darkolivegreen;
  text-align: center;
  opacity: 0.8;
  font-size: 0.7rem;
  position: relative;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}
